<div class="container">
  <h1>Angular-UI-Design</h1>

  <p>This is the application built on the UI Design subject at the University of
    Singidunum, Computer Science department.</p>

  <h2>Technology</h2>
  
  <p>The application has been developed using the Angular 18 front-end framework and the following libraries:</p>

  <a href="https://material.angular.io/">Angular Material</a>
  <br>
  <a href="https://sweetalert2.github.io/">Sweet Alert 2</a>

  <h2>Application Structure</h2>

  <p>The source code uses the standard Angular structure without the app.module.ts file. All modules are directly
    imported
    within the components that use them. Directory Structure</p>

  <ul>
    <li><span class="structure">app</span>- The main directory containing all the components of the application.</li>
    <li><span class="structure">src/models</span>- This directory contains type and interface definitions required for efficient application
      development.
    </li>
    <li><span class="structure">src/services</span>- This directory contains the definitions of the services necessary for the application's
      operation.
    </li>
  </ul>

  <h2>Additional Info</h2>

  <p>The application uses Angular Router, which requires that when deploying the application to production, every route
    is
    redirected to the index.html file, as the routes are defined programmatically in JavaScript rather than
    physically.</p>
</div>
