<mat-toolbar color="primary">
  <span><mat-icon fontIcon="movie"></mat-icon>Digital Cinema Desk</span>
  <span class="spacer"></span>
  <div class="search-container">
    <mat-form-field>
      <mat-label>Search for movies</mat-label>
      <input matInput [(ngModel)]="movieTitle" placeholder="Type the movie title" required />
    </mat-form-field>
    <mat-card-actions>
      <button mat-button (click)="doSearch()">
        <i class="fa-solid fa-search"></i> Search
      </button>
    </mat-card-actions>
  </div>
  <a routerLink="/" mat-button>
    <mat-icon fontIcon="home"></mat-icon>
    Home</a>
  <mat-form-field>
    <mat-label>
      <mat-icon fontIcon="theater_comedy"></mat-icon>
      Generes
    </mat-label>
    <mat-select disableRipple>
      <mat-option value="1">Action</mat-option>
      <mat-option value="2">Drama</mat-option>
      <mat-option value="3">Comedy</mat-option>
    </mat-select>
  </mat-form-field>
  <a routerLink="/profile" mat-button *ngIf="userService.hasCurrentUser(); else profile">Profile</a>
  <a routerLink="/about" mat-button>
    <mat-icon fontIcon="info"></mat-icon>
    About</a>
</mat-toolbar>
<router-outlet/>
<ng-template #profile>
  <a routerLink="/login" mat-button>Login</a>
</ng-template>
