<mat-toolbar color="primary">
  <span><mat-icon fontIcon="movie"></mat-icon>Digital Cinema Desk</span>
  <span class="spacer"></span>
  <a routerLink="/" mat-button><mat-icon fontIcon="home"></mat-icon>Home</a>
  <a routerLink="/genre" mat-button><mat-icon fontIcon="theater_comedy"></mat-icon>Generes</a>
  <a href="#" mat-button><mat-icon fontIcon="star_rate"></mat-icon>Ratings</a>
  <a routerLink="/about" mat-button><mat-icon fontIcon="info"></mat-icon>About</a>
</mat-toolbar>
<router-outlet/>
